/***********top黑色顶部栏*************/

.top {
    height: 70px;
    background-color: #242424;
}

.top .wrap,
.header .wrap {
    width: 1100px;
    margin: 0 auto;
}


/*logo*/

.top .wrap .logo {
    float: left;
    width: 176px;
    height: 69px;
}


/*表单*/

.top .wrap li a {
    float: left;
    padding: 0 19px;
    height: 70px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    text-align: center;
    line-height: 70px;
    color: #ccc;
}

.wrap li .slt {
    background: #000;
    text-decoration: none;
    color: #fff;
}


/*搜索框*/

.wrap .srch {
    float: right;
    margin: 20px 10px 0 0;
    width: 158px;
    height: 32px;
    background-position: 0 -98px;
    background-color: #fff;
    border-radius: 32px;
}

.wrap .srch .parent {
    position: relative;
    margin: 8px 0 0 30px;
}

.wrap .srch label {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: #9b9b9b;
    cursor: text;
}


/*创作者中心&登录*/

.wrap .enter-login {
    padding: 0px;
    float: right;
    height: 70px;
}

.wrap .enter-login a {
    display: block;
    width: 50px;
    color: #787878;
    text-align: center;
    line-height: 70px;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}

.wrap .creator-center {
    float: right;
}

.wrap .creator-center .creator {
    display: block;
    float: right;
    width: 90px;
    height: 30px;
    margin-top: 20px;
    border: 1px solid #4F4F4F;
    border-radius: 20px;
    text-align: center;
    line-height: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #ccc;
}


/**********header红色头部栏***********/

.header {
    height: 35px;
    background-color: #C20C0C;
    border-bottom: 1px solid #a40011;
}

.header .subnav {
    margin-left: 180px;
}

.header .subnav a {
    float: left;
    height: 34px;
    background-color: #C20C0C;
    text-align: center;
}

.header .subnav em {
    float: left;
    padding: 0 25px;
    line-height: 34px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: inherit;
    color: #fff;
}

.wrap .subnav .slt em {
    background-color: #9B0909;
    display: inline-block;
    height: 20px;
    padding: 0 13px;
    margin: 8px 17px 0;
    border-radius: 20px;
    line-height: 21px;
}


/***********banner轮播页**************/

.banner {
    background-image: url("http://p1.music.126.net/51XOzpdjzlPnf5OJyCaSvA==/109951166881357749.jpg?imageView&blur=40x20");
    background-size: 6000px;
    background-position: center center;
}

.banner .wrap {
    position: relative;
    width: 982px;
    height: 285px;
    margin: 0 auto;
}

.banner .wrap .ban-img {
    float: left;
    width: 730px;
}

.banner .wrap .ban-img img {
    display: block;
    width: 730px;
}


/***下载***/

.banner .wrap .download {
    position: relative;
    float: right;
    width: 252px;
    height: 285px;
}

.banner .wrap .download-img {
    background-image: url("https://s2.music.126.net/style/web2/img/index/download.png?697216cae463cab8d215387a3b83593c");
    background-position: center;
    width: 252px;
    height: 285px;
    /*background-size: 252px 285px;*/
    float: right;
    position: absolute;
}

.banner .wrap .download p {
    float: bottom;
    margin: 10px auto;
    text-align: center;
    color: #8d8d8d;
}

.banner .wrap .download .shadow-left {
    display: block;
    position: absolute;
    top: 0;
    left: -20px;
    width: 20px;
    height: 285px;
    background-position: -1px 0;
}


/***********songlist歌单**************/